# Assignment 4 Questions

## Problem Statement

Q.1 Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of
the given sequence is defined as follows:

The moving average sequence has n-k+1 elements as shown below.
The moving averages with k=4 of a ten-value sequence (n=10) is shown below

    i 1 2 3 4 5 6 7 8 9 10
    ===== == == == == == == == == == ==
    Input 10 20 30 40 50 60 70 80 90 100
    y1 25 = (10+20+30+40)/4
    y2 35 = (20+30+40+50)/4
    y3 45 = (30+40+50+60)/4
    y4 55 = (40+50+60+70)/4
    y5 65 = (50+60+70+80)/4
    y6 75 = (60+70+80+90)/4
    y7 85 = (70+80+90+100)/4

Thus, the moving average sequence has n-k+1=10-4+1=7 values.

Write a function to find moving average in an array over a window:

Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [22]:
def moving_average(list, k):
    out_list = []
    num_out_list =  len(list)-k+1
    for i in range(0,num_out_list):
        sum=0
        for j in range(i,i+k):
            sum=sum+list[j]
        out_list.append(sum/k)

    print(num_out_list)
    print(out_list)
    
    
moving_average([10, 20,30,40,50,60,70,80,90,100], 4)
moving_average([3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] , 3)

7
[25.0, 35.0, 45.0, 55.0, 65.0, 75.0, 85.0]
11
[5.0, 4.666666666666667, 5.666666666666667, 6.666666666666667, 9.666666666666666, 28.666666666666668, 49.333333333333336, 72.66666666666667, 84.0, 93.33333333333333, 116.33333333333333]

Q.2 How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
    
    import pandas as pd
    df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [41]:
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
s = df['X']
x = (s!=0).cumsum()
y = x != x.shift()
df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum()
df

   X    Y
0  7  1.0
1  2  2.0
2  0  0.0
3  3  1.0
4  4  2.0
5  2  3.0
6  5  4.0
7  0  0.0
8  3  1.0
9  4  2.0

Q.3 Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.

In [13]:
import numpy as np
import pandas as pd
dates=pd.date_range(start='1/1/2015',end='31/12/2015',freq='B')
df=pd.DataFrame(np.random.randn(len(dates),1),index=dates)
df

                   0
2015-01-01  0.023295
2015-01-02  1.197177
2015-01-05  0.415381
2015-01-06 -2.014105
2015-01-07  0.128111
...              ...
2015-12-25  0.135909
2015-12-28  0.407602
2015-12-29  0.233450
2015-12-30  1.136280
2015-12-31 -0.661307

[261 rows x 1 columns]

Q.4